<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide col" data-bs-ride="true">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
      <%= image_tag 'hero-img', class: "d-block w-100"  %>
        </div>
        <div class="carousel-item">
      <%= image_tag 'hero-img2', class: "d-block w-100"  %>
        </div>
        <div class="carousel-item">
      <%= image_tag 'hero-img3', class: "d-block w-100"  %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class='fs-3 fst-italic my-4'>
      <p>
        The Olympic Games are an international sports festival, held every four years. The ultimate goals are to cultivate human beings, through sport, and contribute to world peace. Summer Games and Winter Games are held separately.
      </p>

      <p>
      You can find more about it here: <%= link_to nil, 'https://en.wikipedia.org/wiki/Olympic_Games', target: :blank %>
      </p>
    </div>
</div>
