<h1>Settings</h1>

<div class='user_list'>
  <h2>List of Users</h2>
  <ul>
    <% User.all.each do |user| %>
      <li class='user_card'>
        <p><%= user.full_name %></p>
        <p><%= user.email %></p>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2>Dark Mode</h2>
  <li data-controller="dark-mode">
    <button data-action="dark-mode#toggle">Toggle Dark Mode</button>
  </li>
</div>
