<div id="<%= dom_id post %>" class='show_post'>
  <div class="video_container">
    <%= video_tag url_for(post.video), controls: true %>
  </div>
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>
</div>
