/*
header {
  display: flex;
  justify-content: space-between;
}

header #search_bar {
  display: flex;
  align-items: center;
  width: 730px;
}

#search_bar input {
  width: 100%;
}

#search_bar img {
  padding: 3px;
  border: 1px solid gray;
}

#search_bar img:hover {
  background: gray;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  padding: 5px;
}

#login_link::before {
  content: url('user.png')
}

#login_link {
  display: flex;
  gap: 25px;
  align-items: center;
  border: 2px solid blue;
  text-decoration: none;
  color: blue;
}

#login_link a {
  color: blue;
  text-decoration: none;
}

.form {
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  padding: 20px;
  width: 50%;
}

.field {
  padding: 10px;
}

.form input[type='submit'] {
  background: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-style: bold;
}

.misc_links {
  margin-top: 5px;
}

#posts {
  display: flex;
  padding: 10px;
  gap: 20px;
}

.post {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.show_post {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 20px;
}

.video_container {
  margin: 0 auto;
  width: 50%;
  background: red;
}

.video_container video {
  margin: 0 auto;
  width: 100%;
}

.comment_form {
  width: 100%;
}

.misc_container {
  display: flex;
  justify-content: space-between;
}

#comments {
  width: 50%;
}

.comment {
  padding: 10px;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.misc_links {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  padding: 25px;
}

.misc_links * {
  padding: 15px;
}

footer {
  width:100%;
  height: 90px;
  background-color: #D0DAEE;
  text-align: center;
}

.hero_img_container img {
  max-width: 100%;
}

body.dark-theme {
  color: #eee;
  background: #181a1b;
}

body.dark-theme a {
  color: #809fff;
}

.user_card {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
*/

.form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: white;
}

.comment_form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: rgb(228,218,233);
}

.footer {
  height: 30px;
  width: 100%;
}

.post {
  background: #e7ac3f;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: rgb(228,218,233);
}

.liked {
  color: blue;

  a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  }

  strong {
    color: blue;
  }

  strong::after {
    display: inline-block;
    content: url('blue-like');
    width: 20px;
    margin-left: 2px;
  }
}


.not_liked {
  strong::after {
    display: inline-block;
    content: url('like');
    width: 20px;
    margin-left: 2px;
  }
}

.all_comments {
  max-height: 400px;
  overflow-y: scroll;
}

#main{
  min-height:calc(100vh - 60px);
}
#footer{
  height: 50px !important;
  background: #d29a30 !important;
}

body {
  background: #85a9ee !important;
}

nav {
  background: #d29a30 !important;
}

.recommended_container {
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
